certifi                  2022.12.7
cffi                     1.15.1
charset-normalizer       3.1.0
cmake                    3.25.0
cycler                   0.11.0
filelock                 3.9.0
fonttools                4.38.0
idna                     3.4
joblib                   1.2.0
kiwisolver               1.4.4
matplotlib               3.5.3
mpmath                   1.2.1
networkx                 2.6.3
numpy                    1.21.6
nvidia-cublas-cu11       11.10.3.66
nvidia-cuda-nvrtc-cu11   11.7.99
nvidia-cuda-runtime-cu11 11.7.99
nvidia-cudnn-cu11        8.5.0.96
packaging                23.0
Pillow                   9.4.0
pip                      22.3.1
pycparser                2.21
pyparsing                3.0.9
python-dateutil          2.8.2
pytorch-triton           2.0.0+0d7e753227
requests                 2.28.2
scikit-learn             1.0.2
scipy                    1.7.3
setuptools               65.6.3
six                      1.16.0
soundfile                0.12.1
sympy                    1.10.1
threadpoolctl            3.1.0
torch                    2.0.0.dev20230125+cu118
torchaudio               2.0.0.dev20230125+cu118
torchmetrics             0.11.4
torchvision              0.15.0.dev20230125+cu118
tqdm                     4.65.0
typing_extensions        4.5.0
urllib3                  1.26.15
wheel                    0.38.4